body {
	background: url(bg02.jpg) no-repeat fixed ; 
  	background-size: 100% auto;
  	background-color: #3B1E01;
  	font-family: sans-serif;
}

.navbar-default .navbar-brand>img {
	/*font-size: 4rem;
	color: white;*/
	/*opacity: 1;*/
	max-height: 50px;
	max-width: 150px;
	margin-top: -15px;
}

.navbar-default {
	opacity: 0.8;
	border: none;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #F52AC2;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #F52AC2; /*BACKGROUND color for active*/
background-color: #D4AD13;
}

 .navbar-default {
    background-color: #3B1E01;
    
    max-height: 60px;
}
.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
   font-size: 2rem;
    }

.jumbotron {
	color: white;
	background-color: #3B1E01;
	margin-top: 55%;
	margin-bottom: 0px;
	max-height: 175px;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: center;
}

#ab {
	max-height: 10%;
	max-width: 90%;
	opacity: 0.8
}







