body{
	background: url(abc.jpg) no-repeat center center fixed;
	background-size: cover;
}

.navbar-default .navbar-brand>img {
	max-height: 50px;
	max-width: 150px;
	margin-top: -15px;
}

.navbar-default {
	opacity: 0.8;
	border: none;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: #F52AC2;  /*Sets the text hover color on navbar*/
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active >   
 a:hover, .navbar-default .navbar-nav > .active > a:focus {
color: #F52AC2; /*BACKGROUND color for active*/
background-color: white;
}

 .navbar-default {
    background-color: #3B1E01;
    max-height: 60px;
}
.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
   font-size: 2rem;
    }

.thumbnail>img {
	float: right;

}